*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('toji.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 600px;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0px 8px 32px 0 rgba(0,0,0,0.37);
}

.glass{
    background:linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: .5s;
}
.glass:hover{
    background: linear-gradient(transparent, transparent);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}